<div class="col-xs-8 col-xs-offset-1 alpha-header">
  <h1>Articles.</h1>
</div>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>
