<html style="background-color: black">
<head>
  <title>Welcome!</title>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1 style="color:blueviolet">Simply a simple Home Page header</h1>
      <p style="color:snow">Here we have a simple paragraph on a very simple webpage. Simple...no?
          <i>Can we move on to the next line please?</i><br>
          <i><b>Thank you!</i></b>
      </p>
    </div>
  </div>
</body>

<footer>
    <p style="color:red;font-size:8px;">Please do not look at my feet...</p>
</footer>
</html>

<%= link_to "About", about_path %>
