$navbar-default-bg: #FCFCFC;
$alpha-purple: #703C9D;
$alpha-turqoise: #59BAD2;
$border-white: #eaeaea;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

button {  
  color: $alpha-purple;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $alpha-turqoise;
  letter-spacing: -1px;
  &:hover {    
    color: $alpha-purple;
    text-decoration: none;
    font-weight: bold;
  }
}

.navbar-default {
  .navbar-nav {
    > li {
      > a {
        letter-spacing: -1px;
        &:hover {
          color: $alpha-purple;
          font-weight: bold;
          letter-spacing: -1px;
        }
      }
    }
  }      
}

.center {
  text-align: left;
}

.jumbotron {
  background-image: asset-url('home_page_card.png');
  background-size: cover;
}

.jumbotron h1 {
  color: $alpha-turqoise;
}

.butn-xlarge {
  background-color: $alpha-turqoise;
  &:hover {
    background-color: $alpha-purple;
    color: $alpha-turqoise;
  }
}

.alpha-header {
  color: $alpha-purple;
}

.article-actions {
  border-top: 1px solid $border-white;
  padding-top: 5px;
}

.article-title {  
  color: $alpha-turqoise;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  > a {
    color: $alpha-turqoise;
    font-weight: bold;
    font-style: italic;
    &:hover {
      color: $alpha-purple;
      text-decoration: none;
    }
  }
}

.article-description {
  color: $alpha-purple;  
  margin-top: 0;
}

.article-body {
  color: $alpha-purple;  
  border-top: 1px solid $border-white;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $border-white;
  color: $alpha-purple;
}

footer a {  
  color: $alpha-turqoise;  
  letter-spacing: -1px;
  &:hover {    
    color: $alpha-purple;
    text-decoration: none;
    font-weight: bold; 
  }
}

#footer_logo {
  float: left;
  list-style: none;
  margin-left: 0px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}