$navbar-default-bg: #FCFCFC;
$alpha-purple: #703C9D;
$alpha-turqoise: #59BAD2;
$border-white: #eaeaea;
$default-gray: #777;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

button {  
  color: $alpha-purple;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $alpha-turqoise;
  letter-spacing: -1px;
  &:hover {    
    color: $alpha-purple;
    text-decoration: none;
    font-weight: bold;
  }
}

// Copied from inspecting browser
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {  
  color: $alpha-purple;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  background-color: transparent;
}

.navbar-default {
  .navbar-nav { 
    li {
      a {
        letter-spacing: -1px;
        &:hover {
          color: $alpha-purple;
          font-weight: bold;
          letter-spacing: -1px;
          text-decoration: none;     
        }
      }
    }
    .dropdown-menu, .dropdown-toggle {
      letter-spacing: -1px;        
      &:hover {
        color: $alpha-purple;
        font-weight: bold;
        letter-spacing: -1px;
        text-decoration: none;
      }
      li, a {
        &:hover {
          color: $alpha-purple;
          font-weight: bold;
          letter-spacing: -1px;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
}



.center {
  text-align: left;
}

.jumbotron {
  background-image: asset-url('home_page_card.png');
  background-size: cover;
}

.jumbotron h1 {
  color: $alpha-turqoise;
}

.btn {
  background-color: $alpha-turqoise;
  color: $border-white;
  &:hover {
    background-color: $alpha-purple;
    color: $alpha-turqoise;
  }
}

.alpha-header {
  color: $alpha-purple;
  padding-bottom: 15px;
}

.article-meta-details {
  margin-top: -15px;
  color: $default-gray;
}

.article-title {  
  color: $alpha-turqoise;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  > a {
    color: $alpha-turqoise;
    font-weight: bold;
    font-style: italic;
    &:hover {
      color: $alpha-purple;
      text-decoration: none;
    }
  }
}

.article-description {
  color: $alpha-purple;  
  margin-top: 0;
}

.article-body {
  color: $alpha-purple;  
  border-top: 1px solid $border-white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0; 
}

.badge {
  background-color: $alpha-turqoise;  
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {    
    background-color: $alpha-purple;
    color: $alpha-turqoise;
  }
  a {    
    color: $border-white;
    &:hover {
      color: $alpha-turqoise;
      text-decoration: none;
    }
  }
}

.input_checkbox input {
  width: auto !important;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $border-white;
  color: $alpha-purple;
}

footer a {  
  color: $alpha-turqoise;  
  letter-spacing: -1px;
  &:hover {    
    color: $alpha-purple;
    text-decoration: none;
    font-weight: bold; 
  }
}

#footer_logo {
  float: left;
  list-style: none;
  margin-left: 0px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}