<div class="container">
  <footer class="footer">    
    <nav>
      <small id="footer_logo">
          <b>Copyright &copy; </b><%= link_to "{α}blog.", "https://en.m.wikipedia.org/wiki/Alpha" %>
      </small>
      <ul>        
        <li><%= link_to "About.", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
